name: adf utilities

on:
  push:
    branches:
    - Patch3

jobs:
  deploy:
    runs-on: windows-latest  # GitHub-hosted - WORKS!
    steps:
    - uses: actions/checkout@v3
# Installs Node and the npm packages saved in your package.json file in the build
    - name: Setup Node.js environment
      uses: actions/setup-node@v4
      with:
        node-version: 20.20.0
        
    - name: install ADF Utilities package
      run: npm install
      working-directory: ${{github.workspace}}
      
    - name: version
      run: npm ls @microsoft/azure-data-factory-utilities
      working-directory: ${{github.workspace}}

    - name: help
      run: node --version
      working-directory: ${{github.workspace}}
           
