name: adf utilities

on:
  workflow_run:
    workflows: ["Build"]  # Your build.yml workflow name
    types: [completed]

permissions:
  actions: read
  contents: read

jobs:
  deploy:
    runs-on: windows-latest  # GitHub-hosted - WORKS!
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    steps:
      # This action handles the API calls for you
      - name: Download artifact from build
        uses: dawidd6/action-download-artifact@v7
        with:
          workflow: build.yml
          run_number: ${{ github.event.workflow_run.run_number }}
          name: drop-${{ github.event.workflow_run.run_number }}
          path: ./downloaded-artifact

  Deploy_to_Dev:
     runs-on: windows-latest  # For a list of available runner types, refer to
                            # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
     environment: dev
     steps:
     - name: dev Deployment
       run: |
          echo "Deploying to Dev environment"
      
