name: deploy to test

on:
  workflow_dispatch:

jobs:
  download:
    runs-on: windows-latest
    steps:
      - name: Download Latest from develop
        uses: dawidd6/action-download-artifact@v6
        with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         workflow: build.yml
         branch: Patch3
         name: drop
         name_is_regexp: true
        
  Deploy_to_test:
     runs-on: windows-latest  # For a list of available runner types, refer to
                            # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
     needs: download
     environment: test
     steps:
     - name: Test Deployment
       run: |
          echo "Deploying to Test environment"

     - name: Find and list downloaded folder
       run: Get-ChildItem drop-12 -Recurse
    
