name: deploy to test

on:
  workflow_dispatch:
   inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'dev'
        type: choice
        options:
        - dev
        - test

jobs:
  download:
    runs-on: windows-latest
    steps:
      - name: Download Latest from develop
        uses: dawidd6/action-download-artifact@v6
        with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         workflow: build.yml
         branch: Patch3
         name: drop
         name_is_regexp: true
        
  Deploy_to_test:
     runs-on: windows-latest  # For a list of available runner types, refer to
                            # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
     needs: download
     environment: production
     steps:
      - name: Test Deployment
        run: |
          echo "Deploying to Test environments"
    
