name: deploy to dev

permissions:
  actions: write
  packages: write
  contents: read

on:
  # Manual trigger
  workflow_dispatch:

jobs:

  Deploy_to_Dev:
     runs-on: windows-latest  # For a list of available runner types, refer to
                            # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
     environment: dev
     steps:
     - name: dev Deployment
       run: |
          echo "Deploying to Dev environment"
      
