name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]


jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

        
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag app-test:20250129
    #- name: Docker Login
     # uses: docker/login-action@v3.3.0
     # with:
      #  username: mohanreddy072@gmail.com
       # password: Narasimha60@
    #- name: List docker images
     # run: docker images
    #- name: Tag docker image
     # run: docker tag app-test:20250129 mohanreddy072/app-test:20250129
    #- name: Push docker image
     # run: docker push mohanreddy072/app-test:20250129
      
