name: Push NuGet package to GitHub Packages

permissions:
  actions: write
  packages: write
  contents: read

on:
  # Manual trigger
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        default: 'dev'
        type: choice
        options:
        - dev
        - test
  push:
    branches: [ "master" ]
  #pull_request:
   # branches: [ "master" ]

jobs:

  build:

    runs-on: windows-latest  # For a list of available runner types, refer to
                            # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on
    env:
      BUILD_NUMBER: ${{ github.run_number }}
      
    steps:
    - name: Build
      run: |
          echo "Build number: ${{ env.BUILD_NUMBER }}"
          
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: setup Nuget
      uses: nuget/setup-nuget@v2

    - name: Restore Nuget Packages
      run: nuget restore aspnetapp.sln

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build solution
      run: msbuild aspnetapp.sln /p:Configuration=Release

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: drop-${{ env.BUILD_NUMBER }}
        path: '**/bin/Release/**'
        
    #- name: zip the build output t
     # run: Compress-Archive -Path **/bin/Release/** -DestinationPath release.zip

    #- name: Create a nuget package
     # run: nuget pack MyApp.nuspec

    - name: dev Deployment
      if: github.event.inputs.environment == 'dev'
      run: |
          echo "Deploying to Dev environment"
      
    - name: Production Deployment
      if: github.event.inputs.environment == 'test'
      run: |
          echo "Deploying to TEST as environment"

    #- name: Set up NuGet and Publish
     # run: |
          #nuget sources Add -Name "GitHub" -Source "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json" -Username "${{ github.actor }}" -Password "${{ secrets.GITHUB_TOKEN }}"
          #nuget push MyAppBuild.1.0.1.nupkg -Source "GitHub"
      
