name: deploy to dummy

on:
  workflow_dispatch:

  push:
   branches: [ "Patch4" ]


jobs:
  download:
    runs-on: windows-latest
    steps:
      - name: Download Latest from develop
        uses: dawidd6/action-download-artifact@v6
        with:
         github_token: ${{ secrets.GITHUB_TOKEN }}
         workflow: build.yml
         branch: Patch3
         name: drop
         name_is_regexp: true

      - name: Copy to fixed folder
        run: |
         $dropDir = Get-ChildItem -Path "${{ github.workspace }}\drop-*" -Directory | Select-Object -First 1
         Copy-Item -Path "$dropDir\*" -Destination "${{ github.workspace }}\deploy" -Recurse -Force
    
         echo "Copied to: ${{ github.workspace }}\deploy"

      - name: List files
        run: |
         dir "${{ github.workspace }}\deploy\Release\netcoreapp2.1"     

      - name: List downloaded files
        run: |
         Write-Host "=== FILES IN drop-12 ===" -ForegroundColor Green
         Get-ChildItem drop-12 -Recurse | ForEach-Object {
         Write-Host $_.FullName
         }
